
.display-bar {

    font-size: 75px;
    
    color: salmon;
    background: rgb(89, 89, 89);
    outline: 9px;
    outline-color: rgb(186, 130, 186);
    outline-offset: 2%;
    outline-style: ridge;
    text-align: right;
    margin-bottom: 9px;
    
    

    height: 90px;
    width: 100%;
    order: -1;

    /* border: 3px dotted paleturquoise; */
}