/* All styles for your Card Components live here */
.ReactLogo img {

    margin-left: 4rem;    
    height: 15rem;
    width: auto;

    border: 3px solid salmon;
}


.CardCont {
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    

    height: auto;
    

    border: 5px double yellowgreen;
}

.CardCont h3 {

    font-size: 1rem;
    font-weight: bolder;


    border: 2px solid plum;
}

.CardCont p {

    font-size: 0.9rem;


    border: 2px solid orange;
}


.CardCont h4 {

    font-size: 0.9rem;
    color: grey;

    border: 2px solid lightskyblue;
}