/* All styles for your header Components live here */

body {
    max-width: 700px;

    border: 3px solid darkorange;
}

.LambdaLogo img {

    float: left;
    margin-top: 4px;
    margin-left: 4px;

    height: 3.5rem;
    width: 3.5rem;

    border: 2px solid lightskyblue;
}


.LambdaTitle {

    
    direction: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    margin-left: 4rem;
    margin-right: 0.1rem;
    margin-top: 0.1rem;

   height: 2.5rem;
   width: auto;

  


    border: 2px dashed deeppink;
}



.LambdaTitle  h1 {

    font-size: 1rem;
    font-weight: bold;


    float: left;


    border: 2px dotted limegreen;
}




.LambdaTitle h2 {

    color: grey;
    font-size: 0.8rem;


    padding: 2px;


    border: 2px dotted mediumturquoise;
}



.HeadCont {

    width: 100%;
    height: 6rem;
    

    border: 2px solid darkorchid;
}



.HeadCont p {

    display: inline-flexbox;
    font-size: 0.86rem;
    margin-left: 4rem;
    margin-right: 0.1rem;
    margin-top: 0.2rem;
    
    

   height: auto;
   width: auto;

    border: 2px dashed salmon;
}






