/* All styles for your header Components live here */


.LambdaLogo img {

    float: left;
    margin-bottom: 100%;

    height: 3.5rem;
    width: 3.5rem;

    border: 2px dotted blueviolet;
}


.LambdaHead {

    direction: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin: 0 auto;


    height: 4rem;
    width: 95%;

    border: 4px dotted deeppink;
}


.LambdaHead  h1 {

    
    
    font-size: 1rem;
    font-weight: bold;

    border: 3px dashed darkseagreen;
}

.LambdaHead h2 {

    
    color: grey;
    font-size: 0.8rem;


    border: 3px solid teal;
}

.HeadCont p {


    font-size: 1rem;
    display: block;

    width: 95%;

    border: 3px dashed darkturquoise;
}






