/* All styles for your header Components live here */

body {
    max-width: 700px;
}

.LambdaLogo img {

    float: left;

    height: 3.5rem;
    width: 3.5rem;

    border: 2px dashed blueviolet;
}


.LambdaTitle {

    margin-left: 4rem;
    direction: flex;
    flex-wrap: nowrap;

    width: 90%;

    /* justify-content: right; */
  


    border: 4px dotted deeppink;
}



.LambdaTitle  h1 {

    
    
    /* font-size: 1rem; */
    /* font-weight: bold; */

    border: 3px solid darkseagreen;
}




.LambdaTitle h2 {

    
    color: grey;
    /* font-size: 0.8rem; */


    border: 3px solid teal;
}




.HeadCont p {


    font-size: 1rem;
    margin-left: 4rem;
    width: 90%;

    border: 3px dashed darkturquoise;
}






