

.btnAll {
    display: flex;
    /* flex-wrap: nowrap; */

    height: 80px;
    width: 450px;



    /* justify-content: space-between; */

    border: 1px solid plum;
}

.btnAll .btnMath {

    display: flex;
    flex-basis: 100%;

 
    background: salmon;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 27px;
   color: rgb(149, 131, 203);
   font-weight: bold;

    justify-content: center;

    
    
    border: 4px dotted rgb(185, 81, 220);
}

.btnNum {

    width: 120px;
    font-size: 31px;
    color: rgb(250, 230, 117);

    background: rgb(92, 148, 194);

    border: 1px dotted lightcoral;
}

.large-btn {

    width: 365px;
    background: rgb(39, 167, 160);
    font-size: 39px;
    letter-spacing: 0.9rem;
    color: rgb(170, 87, 143);

    border: 3px dashed yellow;
}


